[Oo]bj/
[Bb]in/
*.suo
*.user
/TestResults
/nuget
*.vspscc
*.vssscc
/_ReSharper.Steveo.Wetnap
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.resharper.user
*.rptproj.user
*.db
Local.testsettings